<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102444130146-4tionf9i9mooaq7dfpjl7fibj3kj166u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102444130146-4tionf9i9mooaq7dfpjl7fibj3kj166u</string>
	<key>API_KEY</key>
	<string>AIzaSyD79sIgG5px6PwA3mhMtKAXsNXuVvkUupg</string>
	<key>GCM_SENDER_ID</key>
	<string>102444130146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hephzisoft.mynotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-apps-123473</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-apps-123473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102444130146:ios:16318899611bebcd05563b</string>
</dict>
</plist>